/* * selects everything */
*{
    background-color: antiquewhite;
}
/* . selects by class and # selects by id, lets create some CSS rulesets */

.text{
    /* this is shorthand for border properties */
    /* border: 1px solid black; */
    border-color: black;
    border-style: solid;
    border-width: 1 px;
    /* 20 pixels between border and other elements */
    margin: 20px;
}

#div-one{
    border-top: 5px dashed blue;
    margin-right: 20%;
}

#div-two{
    border-radius: 25px;
    border: 3px dashed red;
    padding: 50px 100px 150px 200px;
}

h1{
    border: 1px solid black;
    padding: 10px;
    /* height and width are content size */
    height: 300px;
    width: 300px;
    overflow: scroll;
}